{% extends BASE_HTML %}
{% block title %}{{ siteName }} - Create a Post!{% endblock title %}
{% load static %}
{% load pipeline %}
{% block form_media %}
<script src="{% static 'tinymce/tinymce.min.js' %}" type="application/javascript" referrerpolicy="origin"></script>
<script src="{% static 'tinymce/jquery.tinymce.min.js' %}" type="application/javascript" referrerpolicy="origin"></script>
{% endblock form_media %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
	{% block content %}
        <div class="container"> 
			<div class="row vh-100">
					{% csrf_token %}
				    {% crispy form %}
			</div>
		</div>
	{% endblock %}
{% endif %}
{% block body_js %}
{% endblock body_js %}
{% block body_imports %}
    {% javascript 'forum_post_create' %}
{% endblock body_imports %}
