		{% load thumbnail %}
		{% load static %}
		{% load crispy_forms_tags %}
		<div id='post_text' class="col-12 col-sm-11 col-md-12 col-lg-9 mx-auto my-auto">
			<div class='ps-4'>
				{% crispy form %}
			    <div class="row justify-content-end mb-3">
		    		{% if not post.moderation_date and post.author == user %}
		    		    <div id="modify-post-btns">
		    		    	<div class="d-flex justify-content-end">
				    			<button id="delete-btn" type="button" class="btn btn-secondary col-auto me-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete Post</button>
			    		    	<button id="editor-btn" class="col-auto btn btn-primary">Edit Post</button><!--edit handled by ajax in forum app-->
		    		    	</div>
		    		    </div>
		    		{% endif %}
			    </div>
		    </form>
			</div>
		    <!-- Confirm Delete Post Modal -->
		    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Post Deletion</h5>
		            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		          </div>
		          <div class="modal-body">
		            <h4>Warning!</h4><p>You are about to delete this post.  This action cannot be undone!  Proceed carefully...</p>
		          </div>
		          <div class="modal-footer">
		            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		            <form action="{% url 'django_forum:post_delete' post.id post.slug %}" method="post">
		            {% csrf_token %}
		            <input type="hidden" name="type" value="post">
		            <button type="submit" class="btn btn-primary">Delete Post</button>
		            </form>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>